alabaster==0.7.8
astroid==1.4.8
Babel==2.9.1
backports-abc==0.5
backports.functools-lru-cache==1.3
backports.ssl-match-hostname==3.5.0.1
certifi==2017.1.23
CommonMark==0.5.4
configparser==3.5.0
docutils==0.12
enum34==1.1.6
futures==3.0.5
humanfriendly==1.44.7
imagesize==0.7.1
isort==4.2.5
Jinja2==2.10.1
lazy-object-proxy==1.2.2
MarkupSafe==0.23
mccabe==0.5.2
nilsimsa==0.3.8
pep8==1.7.0
Pygments==2.1.3
pylint==1.6.4
python-dateutil==2.6.0
pytz==2016.4
readthedocs-sphinx-ext==0.5.4
recommonmark==0.4.0
requests==2.10.0
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
sphinx-theme-pd==0.0.8
tornado==4.4.2
tornado-cors==0.6.0
virtualenv==15.0.3
wrapt==1.10.8
azure==0.8.4